<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<!-- linked internalHeader -->
	<% if(user) {%>
	<div><% include ./partials/internalHeader %></div> 
	<% } %>
	<br>
  <% include ./partials/messages %>
	<!-- jumbotron of dashboard page  -->
	<div class="jumbotron">
  		<h1 class="display-4">Welcome <%= user.name %></h1>
  			<p class="lead">You're loggedin as <%= user.role %> manager and your email is <%= user.email %></p>
	</div>
  <!-- if login as field manager then only can view quality control related data --> 
	<% if(user.role == 'field') {%>
  <div>
      <h3 class="text-center">Field Data</h3>
  </div>
	 	<table class="table table-striped">
       		<thead>
       		   <tr>
      			     <th scope="col">Product ID</th>
      			     <th scope="col">Product Name</th>
                 <th scope="col">Field Location</th>
                 <th scope="col">Farmer Name</th>
                 <th scope="col">Farmer Mobile</th>
                 <th scope="col">Farmer NID</th>
                 <th scope="col">Date</th>
               </tr>
             </thead>
             	<% for(var i = 0; i < field.length; i++) { %>
             	  <tr>
 					   <td><%= field[i].productID %></td>
  					 <td><%= field[i].productName %></td>
  					 <td><%= field[i].fieldLocation %></td>
  					 <td><%= field[i].farmerName %></td>
  					 <td><%= field[i].farmerMobile %></td>
  					 <td><%= field[i].farmerNid %></td>
  					 <td><%= field[i].date %></td>
    			  </tr>
    			 <% } %> 
       	 </table>
<% } %>
<!-- if login as production manager then only can view quality control related data --> 
<% if(user.role == 'production') {%>
  <div>
      <h3 class="text-center">Production Data</h3>
  </div>
    <table class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Company Address</th>
                <th scope="col">Facctory Address</th>
                <th scope="col">ISO Number</th>
                <th scope="col">Contacts</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
              <% for(var i=0; i < production.length; i++) { %>
                <tr>
                  <td><%= production[i].productID %></td>
                  <td><%= production[i].productName %></td>
                  <td><%= production[i].companyName %></td>
                  <td><%= production[i].companyLocation %></td>
                  <td><%= production[i].factoryLocation %></td>
                  <td><%= production[i].companyIsoNumber %></td>
                  <td><%= production[i].companyContact %></td>
                  <td><%= production[i].date %></td>
            </tr>
           <% } %> 
         </table>
<% } %>
 <!-- if login as quality manager then only can view quality control related data --> 
<% if(user.role == 'quality') {%>
  <div>
      <h3 class="text-center">Quality Data</h3>
  </div>
    <table class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quality Control Tests</th>
                <th scope="col">Quality Tests</th>
                <th scope="col">Quality Controller Name</th>
                <th scope="col">Quality Controller Nid Number</th>
                <th scope="col">Quality Controller Contact</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
              <% for(var i=0; i < quality.length; i++) { %>
                <tr>
                  <td><%= quality[i].productID %></td>
                  <td><%= quality[i].productName %></td>
                  <td><%= quality[i].qcTests %></td>
                  <td><%= quality[i].qcResult %></td>
                  <td><%= quality[i].qcName %></td>
                  <td><%= quality[i].qcNidNumber %></td>
                  <td><%= quality[i].qcContact %></td>
                  <td><%= quality[i].date %></td>
            </tr>
           <% } %> 
         </table>
<% } %>
<!-- if login as transport manager then only can view quality control related data --> 
<% if(user.role == 'transport') {%>
    <div>
        <h3 class="text-center">Transport Data</h3>
    </div>
    <table class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Transpotation Company Name</th>
                <th scope="col">Transpotation Company Address</th>
                <th scope="col">Transpotation Company Contact</th>
                <th scope="col">Veheicle Number</th>
                <th scope="col">Driver Name</th>
                <th scope="col">Driver Nid Number</th>
                <th scope="col">Driver Mobile Number</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
              <% for(var i=0; i < transport.length; i++) { %>
                <tr>
                  <td><%= transport[i].productID %></td>
                  <td><%= transport[i].productName %></td>
                  <td><%= transport[i].companyName %></td>
                  <td><%= transport[i].companyLocation %></td>
                  <td><%= transport[i].companyContact %></td>
                  <td><%= transport[i].veheicleNumber %></td>
                  <td><%= transport[i].driverName %></td>
                  <td><%= transport[i].driverNidNumber %></td>
                  <td><%= transport[i].drivername %></td>
                  <td><%= transport[i].date %></td>
            </tr>
           <% } %> 
         </table>
<% } %>
<% if(user.role == 'admin') {%>
   <div>
      <h3 class="text-center">Field Data</h3>
  </div>
    <table class="table table-striped">
          <thead>
             <tr>
             <th scope="col">Product ID</th>
             <th scope="col">Product Name</th>
                 <th scope="col">Field Location</th>
                 <th scope="col">Farmer Name</th>
                 <th scope="col">Farmer Mobile</th>
                 <th scope="col">Farmer NID</th>
                 <th scope="col">Date</th>
               </tr>
             </thead>
              <% for(var i=0; i < field.length; i++) { %>
                <tr>
             <td><%= field[i].productID %></td>
             <td><%= field[i].productName %></td>
             <td><%= field[i].fieldLocation %></td>
             <td><%= field[i].farmerName %></td>
             <td><%= field[i].farmerMobile %></td>
             <td><%= field[i].farmerNid %></td>
             <td><%= field[i].date %></td>
            </tr>
           <% } %> 
         </table>
         <br>
         <br>
         <div>
             <h3 class="text-center">Production Data</h3>
         </div>
    <table class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Company Address</th>
                <th scope="col">Facctory Address</th>
                <th scope="col">ISO Number</th>
                <th scope="col">Contacts</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
              <% for(var i=0; i < production.length; i++) { %>
                <tr>
                  <td><%= production[i].productID %></td>
                  <td><%= production[i].productName %></td>
                  <td><%= production[i].companyName %></td>
                  <td><%= production[i].companyLocation %></td>
                  <td><%= production[i].factoryLocation %></td>
                  <td><%= production[i].companyIsoNumber %></td>
                  <td><%= production[i].companyContact %></td>
                  <td><%= production[i].date %></td>
            </tr>
           <% } %> 
         </table>
         <br>
         <br>
         <div>
      <h3 class="text-center">Quality Data</h3>
  </div>
    <table class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quality Control Tests</th>
                <th scope="col">Quality Tests</th>
                <th scope="col">Quality Controller Name</th>
                <th scope="col">Quality Controller Nid Number</th>
                <th scope="col">Quality Controller Contact</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
              <% for(var i=0; i < quality.length; i++) { %>
                <tr>
                  <td><%= quality[i].productID %></td>
                  <td><%= quality[i].productName %></td>
                  <td><%= quality[i].qcTests %></td>
                  <td><%= quality[i].qcResult %></td>
                  <td><%= quality[i].qcName %></td>
                  <td><%= quality[i].qcNidNumber %></td>
                  <td><%= quality[i].qcContact %></td>
                  <td><%= quality[i].date %></td>
            </tr>
           <% } %> 
         </table>
         <br>
         <br>
         <div>
        <h3 class="text-center">Transport Data</h3>
    </div>
    <table class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Transpotation Company Name</th>
                <th scope="col">Transpotation Company Address</th>
                <th scope="col">Transpotation Company Contact</th>
                <th scope="col">Veheicle Number</th>
                <th scope="col">Driver Name</th>
                <th scope="col">Driver Nid Number</th>
                <th scope="col">Driver Mobile Number</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
              <% for(var i=0; i < transport.length; i++) { %>
                <tr>
                  <td><%= transport[i].productID %></td>
                  <td><%= transport[i].productName %></td>
                  <td><%= transport[i].companyName %></td>
                  <td><%= transport[i].companyLocation %></td>
                  <td><%= transport[i].companyContact %></td>
                  <td><%= transport[i].veheicleNumber %></td>
                  <td><%= transport[i].drivername %></td>
                  <td><%= transport[i].driverNidNumber %></td>
                  <td><%= transport[i].drivername %></td>
                  <td><%= quality[i].date %></td>
            </tr>
           <% } %> 
         </table>
     <% } %>    
	<br>
	<br>
	<!-- linked footer -->
	<div><% include ./partials/footer %></div>
</body>
</html>











