<!--Style for card-->
<style type="text/css">
  .card:hover{
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
</style>
<div>
      <h3 class="text-center">Production Data</h3>
</div>
<div style="border-bottom: 3px solid red;"></div>
<% for(var i = 0; i < production.length; i++) { %>
<div class="col-4-lg">
  <div class="card" style="width: 40rem; margin-left: 20%; margin-top: 2%;">
     <!-- for showing image (where product id == image name(product id) + .png)-->
  <img class="card-img-top" src="http://localhost:5000/images/<%= production[i].productID %>.jpg" style="height: 300px; width: 100%; border: 5px solid gray;">
  <div class="card-body">
    <p>
      <tr><h3 class="text-center"><%= production[i].productID %></h3></tr>
      <tr><h3 class="text-center"><%= production[i].productName %></h3></tr>
    </p>
    <div>
       <tr>Company Name: <%= production[i].companyName %></tr><br>
       <tr>Company Address: <%= production[i].companyLocation %></tr><br>
       <tr>Facctory Address: <%= production[i].factoryLocation %></tr><br>
       <tr>ISO Number: <%= production[i].companyIsoNumber %></tr><br>
       <tr>Contacts: <%= production[i].companyContact %></tr><br>
       <tr>Date: <%= production[i].date %></tr><br>
    </div>
    <div style="float: right; margin-top: 2%;">
      <!-- button for edit details for production data-->
      <a href="/production/edit/<%= production[i]._id%>"> <button type="submit" class="btn btn-primary"><i class="fa fa-edit">Edit </i></button></a>
      <!-- button for delete details for production  data-->
      <a href="/production/delete/<%=production[i]._id%>" onclick="return confirm('Are you sure to delete this record ?')";><button type="submit" class="btn btn-primary"><i class="fa fa-trash">Delete</i></button></a>
    </div>
  </div>
</div>
<% } %>


