<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
</head>
<body>
	<!-- linked internalHeader -->
	<div><% include ./partials/internalHeader %></div>
	<br>
	<br>
	<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-industry"></i> Production
        </h1>
      <% include ./partials/messages %>
      <form action="/production" method="POST">
        <!-- for production product id -->
        <div class="form-group">
          <label for="productID">Product ID</label>
            <input
              type="productID"
              id="productID"
              name="productID"
              class="form-control"
              placeholder="Enter Product ID"
              value="<%= typeof productID != 'undefined' ? productID : '' %>" />
        </div>
           <!-- for production product name -->
        <div class="form-group">
          <label for="productName">Product Name</label>
            <input
              type="productName"
              id="productName"
              name="productName"
              class="form-control"
              placeholder="Enter product name"
              value="<%= typeof productName != 'undefined' ? productName : '' %>" />
        </div>
           <!-- for production company name -->
        <div class="form-group">
          <label for="companyName">Production Company Name</label>
            <input
              type="companyName"
              id="companyName"
              name="companyName"
              class="form-control"
              placeholder="Enter production company name"
              value="<%= typeof companyName != 'undefined' ? companyName : '' %>" />
        </div>
             <!-- for production company location -->
        <div class="form-group">
          <label for="companyLocation">Headquarter Address</label>
            <input
              type="companyLocation"
              id="companyLocation"
              name="companyLocation"
              class="form-control"
              placeholder="Enter production company headquarter address"
              value="<%= typeof companyLocation != 'undefined' ? companyLocation : '' %>" />
        </div>
               <!-- for production factory location -->
        <div class="form-group">
          <label for="factoryLocation">Factory Address</label>
            <input
              type="factoryLocation"
              id="factoryLocation"
              name="factoryLocation"
              class="form-control"
              placeholder="Enter production company factory location"
              value="<%= typeof factoryLocation != 'undefined' ? factoryLocation : '' %>" />
        </div>
                   <!-- for production company iso number -->
        <div class="form-group">
          <label for="companyIsoNumber">ISO Number</label>
            <input
              type="companyIsoNumber"
              id="companyIsoNumber"
              name="companyIsoNumber"
              class="form-control"
              placeholder="Enter production company ISO number"
              value="<%= typeof companyIsoNumber != 'undefined' ? companyIsoNumber : '' %>" />
        </div>
                    <!-- for production contact -->
        <div class="form-group">
          <label for="companyContact">Contact Email or Mobile</label>
            <input
              type="companyContact"
              id="companyContact"
              name="companyContact"
              class="form-control"
              placeholder="Enter production company contact email or mobile"
              value="<%= typeof companyContact != 'undefined' ? companyContact : '' %>" />
        </div>
        <!-- Button for upload field data -->
          <button type="submit" class="btn btn-primary btn-block">
              Upload Production Data
        </button>
      </form>
    </div>
  </div>
</div>
<br>
<br>
	<!-- linked footer -->
	<div><% include ./partials/footer %></div>
</body>
</html>