	<!-- externalHeader link-->
	<div><% include ./partials/externalHeader %></div>
  <br>
  <br>
  <div class="container">
     <h4 class="text-center">Product ID: <%= field.productID %></h4>
     <h4 class="text-center">Product Name: <%= field.productName %></h4>
  </div>
  <br>
  <div class="container">
         <h5 class="text-center">Field Data</h5>
  </div>
  <br>
  <div class="container">
    <!-- table for searched field data -->
    <table class="table table-striped">
          <thead>
             <tr>
                 <th scope="col">Field Location</th>
                 <th scope="col">Farmer Name</th>
                 <th scope="col">Farmer Mobile</th>
                 <th scope="col">Farmer NID</th>
                 <th scope="col">Date</th>
               </tr>
             </thead>
                <tr>
                  <td><%= field.fieldLocation %></td>
                  <td><%= field.farmerName %></td>
                  <td><%= field.farmerMobile %></td>
                  <td><%= field.farmerNid %></td>
                  <td><%= field.date %></td>
            </tr> 
         </table>
  </div>     
  <br>
  <!-- table for searched production data-->
  <div class="container">
    <h5 class="text-center">Production Data</h5>
  </div>
  <br>
  <div class="container">
    <table class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Company Address</th>
                <th scope="col">Facctory Address</th>
                <th scope="col">ISO Number</th>
                <th scope="col">Contacts</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
                <tr>
                  <td><%= production.companyName %></td>
                  <td><%= production.companyLocation %></td>
                  <td><%= production.factoryLocation %></td>
                  <td><%= production.companyIsoNumber %></td>
                  <td><%= production.companyContact %></td>
                  <td><%= production.date %></td>
            </tr>
    </table>
  </div>
  <br>
    <!-- table for searched quality data -->
    <div class="container">
      <h5 class="text-center">Quality Control</h5>
    </div>  
    <br>
    <div class="container">
      <table class="table table-striped">
        <thead>
             <tr>
                <th scope="col">Quality Control Tests</th>
                <th scope="col">Quality Tests</th>
                <th scope="col">Quality Controller Name</th>
                <th scope="col">Quality Controller Nid Number</th>
                <th scope="col">Quality Controller Contact</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
                <tr>
                  <td><%= quality.qcTests %></td>
                  <td><%= quality.qcResult %></td>
                  <td><%= quality.qcName %></td>
                  <td><%= quality.qcNidNumber %></td>
                  <td><%= quality.qcContact %></td>
                  <td><%= quality.date %></td>
              </tr>
      </table>
    </div>
    <br>
    <!-- Table for searched transport dat -->
    <div class="container">
      <h5 class="text-center">Transport Data</h5>
    </div>
    <br>
    <div class="container">
      <table class="table table-striped">
        <thead>
             <tr>
                <th scope="col">Transpotation Company Name</th>
                <th scope="col">Transpotation Company Address</th>
                <th scope="col">Transpotation Company Contact</th>
                <th scope="col">Veheicle Number</th>
                <th scope="col">Driver Name</th>
                <th scope="col">Driver Nid Number</th>
                <th scope="col">Driver Mobile Number</th>
                <th scope="col">Date</th>
               </tr>
             </thead>
                <tr>
                  <td><%= transport.companyName %></td>
                  <td><%= transport.companyLocation %></td>
                  <td><%= transport.companyContact %></td>
                  <td><%= transport.veheicleNumber %></td>
                  <td><%= transport.driverName %></td>
                  <td><%= transport.driverNidNumber %></td>
                  <td><%= transport.driverMobile %></td>
                  <td><%= transport.date %></td>
            </tr>
      </table>
    </div>
	<!-- footer link -->
	<br>
	<br>
   <div class="container"><% include ./partials/footer %></div>
