	<!-- externalHeader link-->
	<div><% include ./partials/externalHeader %></div>
  <br>
  <br>
  <!--Style for card-->
<style type="text/css">
  .card:hover{
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
</style>
<div class="col-4-sm">
  <div class="card" style="width: 40rem; margin-left: 25%; margin-top: 2%">
    <!-- for showing image (where product id == image name(product id) + .png)-->
  <img class="card-img-top"  src="http://localhost:5000/images/<%= field.productID %>.jpg" style="height: 300px; width: 100%; border: 5px solid gray;">
  <div class="card-body">
    <p>
      <tr><h3 class="text-center"><%= field.productID %></h3></tr>
      <tr><h3 class="text-center"><%= field.productName %></h3></tr>
    </p>
    <div>
      <h3 class="text-center">Field Data</h3>
    </div>
      <div style="border-bottom: 3px solid red;"></div>
    <div>
       <tr>Field Location: <%= field.fieldLocation %></tr><br>
       <tr>Farmer Name: <%= field.farmerName %></tr><br>
       <tr>Farmer Mobile: <%= field.farmerMobile %></tr><br>
       <tr>Farmer Nid: <%= field.farmerNid %></tr><br>
       <tr>Date: <%= field.date %></tr><br>
    </div>   
        <div>
          <h3 class="text-center">Production Data</h3>
        </div>
          <div style="border-bottom: 3px solid red;"></div>
    <div>
         <tr>Company Name: <%= production.companyName %></tr><br>
         <tr>Company Address: <%= production.companyLocation %></tr><br>
         <tr>Facctory Address: <%= production.factoryLocation %></tr><br>
         <tr>ISO Number: <%= production.companyIsoNumber %></tr><br>
         <tr>Contacts: <%= production.companyContact %></tr><br>
         <tr>Date: <%= production.date %></tr><br>
    </div>
        <div>
          <h3 class="text-center">Quality Control Data</h3>
        </div>
          <div style="border-bottom: 3px solid red;"></div>
    <div>
       <tr>Quality Control Tests: <%= quality.qcTests %></tr><br>
       <tr>Quality Test Result: <%= quality.qcResult %></tr><br>
       <tr>Quality Controller Name: <%= quality.qcName %></tr><br>
       <tr>Quality Controller Nid Number: <%= quality.qcNidNumber %></tr><br>
       <tr>Quality Controller Contact: <%= quality.qcContact %></tr><br>
       <tr>Date: <%= quality.date %></tr><br>
    </div> 
        <div>
          <h3 class="text-center">Transport Data</h3>
        </div>
          <div style="border-bottom: 3px solid red;"></div> 
    <div>  
        <tr>Transpotation Company Name: <%= transport.companyName  %></tr><br>
        <tr>Transpotation Company Address: <%= transport.companyLocation %></tr><br>
        <tr>Transpotation Company Contact: <%= transport.companyContact %></tr><br>
        <tr>Veheicle Number: <%= transport.veheicleNumber %></tr><br>
        <tr>Driver Name: <%= transport.driverName %></tr><br>
        <tr>Driver Nid Number: <%= transport.driverNidNumber %></tr><br>
        <tr>Driver Mobile Number: <%= transport.driverMobile %></tr><br>
        <tr>Date: <%= transport.date %></tr><br>    
    </div>
        <div>
          <h3 class="text-center">Blockchain Hash Code</h3>
        </div>
          <div style="border-bottom: 3px solid red;"></div>
    <div>
     <% for(var i = 0; i < blockChain.length; i++) {%>
    <tr><%= blockChain[i].thisHash%></tr><br>
    <% } %>
    </div>
   </div>
</div>
	<!-- footer link -->
	<br>
	<br>
<div class="container"><% include ./partials/footer %></div>
