<!--Style for card-->
<style type="text/css">
  .card:hover{
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
</style>
<div>
      <h3 class="text-center">Transport Data</h3>
</div>
<div style="border-bottom: 3px solid red;"></div>
<% for(var i = 0; i < transport.length; i++) { %>
<div class="col-4-lg">
  <div class="card" style="width: 40rem; margin-left: 20%; margin-top: 2%;">
    <!-- for showing image (where product id == image name(product id) + .png)-->
  <img class="card-img-top" src="http://localhost:5000/images/<%= transport[i].productID%>.jpg" style="height: 300px; width: 100%; border: 5px solid gray;">
  <div class="card-body">
    <p>
      <tr><h3 class="text-center"><%= transport[i].productID %></h3></tr>
      <tr><h3 class="text-center"><%= transport[i].productName %></h3></tr>
    </p>
    <div>
       <tr>Transpotation Company Name: <%= transport[i].companyName  %></tr><br>
       <tr>Transpotation Company Address: <%= transport[i].companyLocation %></tr><br>
       <tr>Transpotation Company Contact: <%= transport[i].companyContact %></tr><br>
       <tr>Veheicle Number: <%= transport[i].veheicleNumber %></tr><br>
       <tr>Driver Name: <%= transport[i].driverName %></tr><br>
       <tr>Driver Nid Number: <%= transport[i].driverNidNumber %></tr><br>
       <tr>Driver Mobile Number: <%= transport[i].driverMobile %></tr><br>
       <tr>Date: <%= transport[i].date %></tr><br>
    </div>
    <div style="float: right; margin-top: 2%;">
      <!-- button for edit details for transport dat-->
      <a href="/transport/edit/<%= transport[i]._id%>"> <button type="submit" class="btn btn-primary"><i class="fa fa-edit">Edit </i></button></a>
      <!-- button for delete details for transport dat -->
      <a href="/transport/delete/<%=transport[i]._id%>" onclick="return confirm('Are you sure to delete this record ?')";><button type="submit" class="btn btn-primary"><i class="fa fa-trash">Delete</i></button></a>
    </div>
  </div>
</div>
<% } %>
